/* ===============================
   RESERVATION
=================================*/

.reservation-form {
    display: grid;
    gap: 15px;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
    padding: 10px;
    background: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
}

.footer {
    background: #0f0f0f;
    padding: 30px 0;
}